
body {
font-family : 'Lato', sans-serif;
background : #fff;
}
body p {
color : #666666;
font-family : "Lato", sans-serif;
font-size : 14px;
letter-spacing : 1px;
}
body h1, h2, h3, h4, h5, h6 {
color : #141414;
font-family : "Lato", sans-serif;
font-size : 18px;
text-transform : capitalize;
font-weight : 800;
text-transform : uppercase;
}
a:hover {
text-decoration : none;
}
.navbar {
padding : 10px 0;
transition : background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.top-nav-collapse {
padding : 0;
}
#loader-wrapper .logo {
left : 48.7%;
position : absolute;
top : 48%;
}
#loader-wrapper .logo a {
font-weight : 700;
color : #3498DB;
font-size : 12px;
}
.logo span {
color : #f85654;
}
#loader-wrapper {
position : fixed;
top : 0;
left : 0;
width : 100%;
height : 100%;
z-index : 999999;
background : #fff;
}
#loader {
display : block;
position : relative;
left : 50%;
top : 50%;
width : 150px;
height : 150px;
margin : -75px 0 0 -75px;
border-radius : 50%;
border : transparent solid 3px;
border-top-color : #3498db;
animation : spin 2s linear infinite;
}
#loader:before {
content : "";
position : absolute;
top : 5px;
left : 5px;
right : 5px;
bottom : 5px;
border-radius : 50%;
border : transparent solid 3px;
border-top-color : #444;
animation : spin 3s linear infinite;
}
#loader:after {
content : "";
position : absolute;
top : 15px;
left : 15px;
right : 15px;
bottom : 15px;
border-radius : 50%;
border : transparent solid 3px;
border-top-color : #1487b2;
animation : spin 1.5s linear infinite;
}
@keyframes spin {
0% {
transform : rotate(0deg);
}
100% {
transform : rotate(360deg);
}
}
#nav_menu ul {
float : right;
list-style : none outside none;
margin : 0;
padding : 0;
position : relative;
}
#nav_menu ul a {
color : #ffffff;
display : block;
font-family : lato;
font-size : 14px;
font-weight : bold;
line-height : 32px;
padding : 25px 14px;
text-decoration : none;
text-transform : capitalize;
transition : all 0.4s 0s ease;
}